{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock  %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div>
    <h1>Votre panier</h1>
</div>

{% if items| length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Price</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.label}}</td>
                    <td>{{ item.product.unitPrice}}</td>
                    <td>
                        <a href="{{ path('cart_remove', {'id' : item.product.id})}}"><i class="fa-solid fa-minus"></i></a>
                            {{ item.quantity}}
                        <a href="{{ path('cart_add', {'id' : item.product.id})}}"><i class="fa-solid fa-plus"></i></a>
                    </td>
                    <td> {{ item.product.unitPrice * item.quantity}}</td>
                    <td>
                        <a href="{{ path('cart_removeItem', {'id': item.product.id})}}" class=" btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total :</td>
                <td>{{ total }}</td>
                <td>              
                    <a href="{{ path('cart_removeAll')}}" class=" btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
        <a href="{{ path('order_index')}}" class="btn btn-success">Valider votre panier </a>
{% else %}
    <p>Votre panier est vide</p>
{% endif %}
{% endblock %}
