{% extends 'base.html.twig' %}

{% block title %} Mon compte - {{parent()}} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/account/account_index.css')}}">
{% endblock  %}

{% block body %}

    <h1>Mon compte</h1>
    
    <div class="container">
        <ul>
            <li>
                <a class="active" href="#">Tableau de bord</a>
            </li>
            <li>
                <a href="{{ path('address_list') }}">Mes adresses</a>
            </li>
            <li>
                <a href="#locker">Mon FreshLocker</a>
            </li>
            <li>
                <a href="#orders">Mes commandes</a>
            </li>
            <li>
                <a href="#infos">Mes infos</a>
            </li>
            <li>
                <a href="{{ path('user_logout') }}">Déconnexion</a>
            </li>
        </ul>
    </div>
    <div class="container2">
        <h2>Bonjour {{app.user.firstname }} {{ app.user.lastname }} !</h2>

        <p>Vous retrouvez ici toutes les informations utiles à votre compte.</p>

        <h3>Mon FreshLocker</h3>

        <h3>Mes adresses</h3>
            {% for address in addresses %}
            <div class="address">
                    <span>{{ address.number }}</span>
                    <span>{{ address.streetName }}</span>
                    <span>{{ address.postCode }}</span>
                    <span>{{ address.city }}</span>
                    <span>{{ address.country }}</span>
                    <br>
            </div>
            {% else %}
                    <p>Vous n'avez pas encore enregistré d'adresse postale.</p>
            {% endfor %}

        <h3>Mes commandes</h3>

        <h3>Mes infos</h3>

    </div>
    <div class="btn-container">
        <a class="btn btn-outline-secondary logout-btn" href="{{ path('user_logout') }}">Déconnexion</a>
    </div>


{% endblock %}