{% extends 'base.html.twig' %}

{% block title %} Nos produits - {{parent()}} {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/product.css')}}">        
    {% endblock %}


{% block body %}

    <h1>Nos produits</h1>
{# 
    {% for product in products %}
        <div>  
            <img src="{{ asset('images/fruits/' ~ product.photo)}}" alt="">
            <p>Producteur : {{ product.producers.get(0) }}</p>
            <p>Nom : {{ product.label }}</p>
            
            {% for productConditioning in product.conditioning %}

                <p>Conditionnement : {{ productConditioning.label }}</p>
                <p>{{ product.unitPrice / productConditioning.conversionFactor }} / kg</p>
            {% endfor %}

            <p>Prix unitaire : {{ product.unitPrice }} €</p>
            -----------
            <a href="{{ path('cart_add', {'id' : product.id})}}" id="add">Ajouter</a>
        </div> #}

<div class="container">

    {% for product in products %}
        <div class="our-products-category">

                <a href="{{ path('product_single', {id: product.id, label:product.label}) }}">
                    <div class="card-product">
                        <div class="card-product-img">
                            <img src="{{ asset('images/fruits/' ~ product.photo) | imagine_filter('my_thumb') }}" alt="Photo du produit {{ product.label }}">
                        </div>
                        <div class="card-product-body">
                            <h4 class="product-name">{{ product.label }}</h4>
                            <p><span class="card-product-producer">{{ product.producers.get(0) }}</span></p>
                        {% for productConditioning in product.conditioning %}

                            <p>{{ productConditioning.label }}</p>
                            <p>{{ product.unitPrice / productConditioning.conversionFactor }} / kg</p>

                        {% endfor %}
                        </div>
                        <div class="card-product-cart">
                            <p>{{ product.unitPrice }}  €</p>

                            <a href="{{ path('cart_remove', {'id' : product.id})}}"><i class="fa-solid fa-minus"></i></a>
                            <a href="{{ path('cart_index', {'id' : product.id})}}"><i class="fa-solid fa-basket-shopping pointer"></i></a>
                            <a href="{{ path('cart_add', {'id' : product.id})}}"><i class="fa-solid fa-plus"></i></a>

                        </div>
                    </div>
                </a>

                </div>
    {% endfor %}
</div>    

{% endblock %}
