<li>
    <a class="fl__home" href="{{ path('main_index') }}">Accueil</a>
</li>
<li>
    <a href="{{ path('product_list') }}">Nos produits</a>
</li>
{% if app.user %} {# Si connecté #}
    <li>
        <span class="user-message">Bonjour {{ app.user.firstname }} !</span>
    </li>
    <li>
        <a href="{{ path('account_index') }}">Mon compte</a>
    </li>
    <li>
        <a href="{{ path('user_logout') }}">Déconnexion</a>
    </li>
{% endif %}
<li>
    <a href="{{ path('cart_index') }}">Panier</a>
</li>