{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - {{ parent()}} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/order/order_add.css')}}">        
{% endblock %}
{# Script JS pour Stripe #}
{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51LpZOgHrQjlZLnq1qbiMO6kPuRtDJG1qirJmA44emgbDqtqcno5tnev6TBCHHe4Chi7PfveCJehhuKASUT1McZjC00WWtPztWr');
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
                fetch("/commande/create-session", {
                    method: "POST",
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}

{% block body %}

    <h1>Mon récapitulatif de commmande</h1>
    <div class="check-info">
    <p>Vérifiez vos informations avant de valider votre commande :</p>
        <p>Mon adresse de facturation </p>
        {{ billingAddress}}
        <p>Mon freshLocker </p>
        <p> {{ freshLocker.name}}</p>
        <p> {{ freshLocker.address.number}}</p>
        <p> {{ freshLocker.address.streetName}}</p>
        <p> {{ freshLocker.address.city}}</p>
        <p> {{ freshLocker.address.postCode}}</p>
    </div>

            <h2>Ma commande</h2>

        <table class="order-table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Price</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{ item.product.label}}</td>
                        <td>{{ item.product.unitPrice}}€</td>
                        <td>
                            <p>{{ item.quantity}}</p>
                        <td> {{ item.product.unitPrice * item.quantity}}€</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Sous - Total : {{ total }}€</td>
                    <td>frais de livraison : {{ deliveryPrice }}€</td>
                    <td> total : {{ total + deliveryPrice}}€</td>
                </tr>
            </tfoot>
        </table>
        <div class="btn-container">
            <a class="btn btn-success btn-secondary" id="checkout-button">Payer {{ total + deliveryPrice}}€</a>
        </div>
{% endblock %}
