{% extends 'base.html.twig' %}

{% block title %} Inscription - {{ parent() }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/user/register.css')}}">        
{% endblock %}

{% block body %}

    <h1>Inscription</h1>

        {{ form_start(form) }}

        {{ form_row(form.lastname )}}
        {{ form_row(form.firstname )}}
        {{ form_row(form.email )}}
        {{ form_row(form.plainPassword )}}
        {{ form_row(form.phoneNumber )}}
        <div class="cgu">

        {{ form_row(form.agreeTerms )}}
        {{ form_end(form) }}
        </div>

{% endblock %}
