{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande - {{ parent()}} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/order/order_validate.css')}}">        
{% endblock %}

{% block body %}

    <h1>Confirmation de commande</h1>

    <p> Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,
    <br>
    <br>
        Nous vous remercions pour votre commande n°<strong>{{ order.id }}</strong>.
    <br>
        Une confirmation vient de vous être envoyée par email à l'adresse : <strong class="email">{{ order.user.email }}</strong>.
    </p>
    <hr>
    <p>
    Votre commande sera livrée dans votre freshLocker à l'adresse suivante :
    </p>
    <br>
    <p>
    {{ order.freshLocker | replace({'[br]' : '</br>'}) | raw }}
    </p>
    <hr>
    <p>
        Pour suivre votre commande, rendez-vous dans votre espace utilisateur.
    </p>

{% endblock %}